@media (max-width: 750px) {
    .container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background: #F2F2F2;
        min-height: 100vh;
        transition: 0s;
    }

    .main-content {
        position: static;
        border-radius: 8.33vw 8.33vw 0 0;
        width: 100vw;
        min-height: 90vh;
        padding: 15.61vw 5vw;
    }

    .main-content--login {
        min-height: 100vh;
    }

    .mobile-menu-open {
        display: block;
        position: absolute;
        top: 11.25vw;
        left: 4.84vw;
        width: 4.84vw;
        height: 3.9vw;
        border: none;
        background-image: url("data:image/svg+xml,%3Csvg width='31' height='25' viewBox='0 0 31 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31 3H0V0H31V3ZM31 25H0V22H31V25ZM0 14H20V11H0V14Z' fill='black'/%3E%3C/svg%3E%0A");
        background-color: transparent;
        background-size: cover;
        background-repeat: no-repeat;
        outline: none;
        cursor: pointer;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .mobile-menu-open:focus {
        -webkit-box-shadow: 0 0 0.83vw 0.83vw rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 0.83vw 0.83vw rgba(0, 0, 0, 0.2);
    }

    .main-content__button {
        display: none;
    }
}

/*! -----MAIN-NAV----- */
@media (max-width: 750px) {
    .main-nav {
        width: auto;
        padding: 4.5vw;
        padding-top: 11.41vw;
        padding-bottom: 17.33vw;
        text-align: center;
    }

    .main-nav--one {
        padding-bottom: 7.81vw;
    }

    .main-nav--lesson {
        padding-bottom: 32.67vw;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

    .main-nav--lesson-js {
        padding-bottom: 32.37vw;
    }

    .main-nav--hide-menu {
        margin-left: 0vw;
    }

    .main-nav__logo {
        display: inline-block;
        width: 23.33vw;
        height: auto;
        margin: 0 auto;
    }

    .main-nav__list {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        max-width: 91vw;
        padding-top: 9.67vw;
        overflow: auto;
        opacity: 1;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

    .main-nav__list--inner {
        padding: 9.67vw 0 0 0;
    }

    .main-nav__list--lesson {
        display: none;
    }

    .main-nav--hide-menu .main-nav__list {
        height: 0;
        padding: 0;
        opacity: 0;
    }

    .main-nav__item {
        font-size: 3.67vw;
        line-height: 4.33vw;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    .main-nav__item:not(:last-of-type) {
        margin-right: 4vw;
    }

    .main-nav__link--current::before {
        display: none;
    }

    .main-nav__link:active {
        border-bottom: 0.5vw solid #00B8D4;
    }

    .main-nav__list-2 {
        display: none;
    }

    .main-nav__list {
        display: none;
    }

    .main-nav__link-2:active {
        color: #00B8D4;
    }
}

/*! -----BUTTONS----- */
@media (max-width: 750px) {
    .blue-border-button {
        min-height: 13.33vw;
        margin: 0 auto;
        padding: 5vw 5.67vw;
        font-size: 4.5vw;
        letter-spacing: 0.12em;
        border: 0.5vw solid #00B8D4;
        border-radius: 8.33vw;
    }
}

/*! -----HEADER----- */
@media (max-width: 750px) {
    .header__menu {
        display: block;
        height: 1px;
    }

    .header__menu--inner {
        margin-bottom: 0;
    }

    .header__lang-container {
        display: none;
    }

    .header__bell {
        position: absolute;
        top: 11.1vw;
        right: 14.54vw;
        width: 3.71vw;
        height: 4.69vw;
    }

    .header__bell--allert::before {
        top: -1vw;
        right: -1vw;
        width: 1vw;
        height: 1vw;
    }

    .header__bell:active {
        -webkit-animation: bell 5s;
        animation: bell 5s;
        -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }

    .header__bonuses {
        display: none;
    }

    .header__username-block {
        display: block;
        position: static;
    }

    .header__username {
        display: none;
    }

    .header__button {
        position: absolute;
        top: 11.1vw;
        right: 4.73vw;
        width: 3.87vw;
        height: 4.22vw;
        padding: 0;
        background-image: url("../images/union.svg");
        background-size: cover;
    }

    .header__lang-container::before,
    .header__lang-container::after,
    .header__button::before,
    .header__button::after {
        display: none;
    }

    .header__username-menu {
        display: none;
    }
}

/*! -----INTRO----- */
@media (max-width: 750px) {
    .intro__title {
        width: 100%;
        margin: 0;
        margin-bottom: 10vw;
        margin-top: 0;
        font-size: 7.67vw;
        line-height: 8.33vw;
        text-align: center;
    }

    .intro__link {
        padding: 4.085vw;
        margin: 0 auto;
        margin-bottom: 3vw;
        font-size: 4.5vw;
        line-height: 5.33vw;
        border-radius: 8.33vw;
        border: 0.5vw solid #00B8D4;
    }

    .intro__img {
        max-width: 100%;
        width: 100%;
    }
}

/*! -----COURSES----- */
@media (max-width: 750px) {
    .courses {
        position: static;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 13.33vw;
    }

    .courses__title {
        font-size: 6.67vw;
        line-height: 8.33vw;
        letter-spacing: 0.33vw;
        font-weight: 900;
        text-align: center;
        margin: 0;
        margin-bottom: 8.33vw;
    }

    .courses__nav-list {
        position: absolute;
        top: 39.7vw;
        height: auto;
        max-width: 91vw;
        padding: 0;
        padding-bottom: 2.5vw;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        overflow: auto;
        -webkit-transition: 2s;
        -o-transition: 2s;
        transition: 2s;
    }

    .courses__nav-list--js {
        height: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
    }

    .courses__item {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        font-size: 3vw;
        line-height: 3.67vw;
        color: #000000;
        text-transform: uppercase;
        font-weight: 700;
        list-style-type: none;
    }

    .courses__item:not(:last-of-type) {
        margin-right: 6.67vw;
    }

    .courses__inner-nav-list {
        position: absolute;
        top: 22.5vw;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        min-height: auto;
        height: auto;
        max-width: 90%;
        padding-bottom: 2.5vw;
        font-size: 3.67vw;
        line-height: 4.33vw;
        letter-spacing: 0.5vw;
        overflow: auto;
    }

    .courses__inner-nav-list.courses__inner-nav-list--children {
        position: absolute;
        top: 29.5vw;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        min-height: auto;
        height: auto;
        max-width: 90%;
        padding-bottom: 2.5vw;
        font-size: 3.67vw;
        line-height: 4.33vw;
        letter-spacing: 0.5vw;
        overflow: auto;
    }

    .courses__inner-nav-list--news {
        top: 40vw;
    }

    .courses__inner-nav-list--js {
        height: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
    }

    .courses__inner-item--arrow {
        position: relative;
        top: 0.2vw;
        display: inline-block;
        width: 1.83vw;
        height: 3.33vw;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.291995 10.7138L9.2762 19.7048C9.67042 20.0984 10.3091 20.0984 10.7043 19.7048C11.0986 19.3111 11.0986 18.6717 10.7043 18.2781L2.43275 10.0005L10.7033 1.72293C11.0976 1.32928 11.0976 0.689887 10.7033 0.295239C10.3091 -0.0984129 9.66942 -0.0984129 9.2752 0.295239L0.290999 9.28611C-0.0971655 9.67569 -0.0971655 10.3251 0.291995 10.7138Z' fill='%2300B8D4'/%3E%3C/svg%3E%0A");
        background-size: cover;
    }

    .courses__inner-item:not(:last-of-type) {
        margin-right: 4vw;
    }

    .courses__inner-link--current {
        min-height: auto;
        padding: 0;
        color: #00B8D4;
        font-size: 3.67vw;
        line-height: 4.33vw;
        letter-spacing: 0.5vw;
        background-color: transparent;
        border-radius: 0;
    }

    .courses__lesson-list {
        position: absolute;
        top: 50vw;
        max-width: 90%;
        height: auto;
        padding: 0;
        padding-bottom: 2.5vw;
        margin: 0;
        margin-bottom: 0;
        font-size: 3.33vw;
        line-height: 4vw;
        overflow: auto;
        -webkit-transition: 2s;
        -o-transition: 2s;
        transition: 2s;
    }

    .courses__lesson-list--js {
        height: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
    }

    .courses__lesson-list--news {
        text-transform: uppercase;
    }

    .courses__lesson-item {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    .courses__lesson-item:not(:last-of-type) {
        margin-right: 6.67vw;
    }

    .courses__lesson-link {
        font-size: inherit;
        line-height: inherit;
    }

    .courses__lesson-link--current {
        font-size: inherit;
        line-height: inherit;
    }

    .courses__info-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 0;
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
    }

    .courses__info-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .courses__info {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        min-width: 43.33vw;
        min-height: 12.83vw;
        padding: 0 4.67vw;
        margin-bottom: 8.33vw;
        border: 0.17vw solid #DADADA;
        border-radius: 10vw;
    }

    .courses__info-text {
        margin: 0;
        font-size: 2.67vw;
        line-height: 3.17vw;
    }

    .courses__info-percent {
        position: static;
        font-size: 5.33vw;
        line-height: 6.33vw;
    }

    .courses__progress-list {
        margin-bottom: 8.33vw;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }

    .courses__progress-list--lesson {
        margin-bottom: 0;
    }

    .courses__progress-item {
        width: 5.33vw;
        height: 5.33vw;
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='8' viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4L4 6.5L8.5 1' stroke='white' stroke-width='1.2'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-size: 2.4vw 1.8vw;
        background-repeat: no-repeat;
    }

    .courses__progress-item--completed {
        background-color: #00B8D4;
    }

    .courses__progress-item::after {
        display: none;
    }

    .courses__progress-text {
        display: none;
    }

    .courses__progress-item:not(:first-of-type)::before {
        right: 5.33vw;
        width: 12vw;
        height: 0.33vw;
    }
}

/*! -----MODULS----- */
@media (max-width: 750px) {
    .moduls {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0;
    }

    .modul-card {
        width: 100%;
        min-height: 68.33vw;
        padding: 9vw 8.33vw 6.225vw 8.5vw;
        margin-bottom: 5vw;
        border-radius: 6.67vw;
    }

    .modul-card:nth-of-type(odd) {
        margin-right: 0;
    }

    .modul-card__title {
        margin-bottom: 6.545vw;
        font-size: 4.33vw;
        line-height: 6vw;
    }

    .modul-card__percent {
        top: 7vw;
        right: 8.33vw;
        font-size: 10vw;
        line-height: 12vw;
    }

    .modul-card__percent--completed {
        top: 7vw;
        right: 8.33vw;
        width: 6.67vw;
        height: 6.67vw;
        background-size: 2.78vw 2.04vw;
    }

    .modul-card__passed-users {
        margin-bottom: 5.86vw;
        font-size: 4vw;
        line-height: 4.83vw;
    }

    .modul-card__passed-icon {
        width: 3.17vw;
        height: 3.33vw;
    }

    .modul-card__link--exam:active {
        border: 0.33vw solid #FFFFFF;
        background-color: #FFFFFF;
        color: #00B8D4;
    }

    .modul-card__link {
        min-width: 47.67vw;
        height: 9.41vw;
        padding: 2.5vw 6.85vw;
        margin-bottom: 6.19vw;
        font-size: 3.67vw;
        line-height: 4.33vw;
        border-radius: 13.06vw;
    }

    .modul-card__link--exam {
        border: 0.33vw solid #FFFFFF;
    }

    .modul-card__bar {
        height: 2.67vw;
        margin-bottom: 8.05vw;
        border-radius: 6.67vw;
    }

    .modul-card__bar-completed {
        height: 2.67vw;
        border-radius: 6.67vw;
    }

    .modul-card__score-container {
        font-size: 2.67vw;
        line-height: 3.17vw;
    }

    .modul-card__score {
        height: 5.25vw;
        padding: 0.83vw 1.33vw;
    }
}

/*! -----MODUL-END----- */
@media (max-width: 750px) {
    .modul-end {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .modul-end__title {
        width: auto;
        margin-bottom: 8.33vw;
        font-size: 6.33vw;
        line-height: 8.33vw;
        text-align: center;
    }

    .modul-end__link {
        margin-bottom: 10vw;
    }

    .modul-end__phrase {
        display: none;
    }
}

/*! -----VIDEO-LESSON------ */
@media (max-width: 750px) {
    .video-lesson {
        padding-bottom: 16.67vw;
    }

    .video-lesson__title {
        margin-bottom: 3.33vw;
        padding-left: 0;
        font-size: 4vw;
        line-height: 4.83vw;
        color: #000000;
        text-align: center;
    }

    .video-lesson__video {
        width: 100%;
        margin-bottom: 13.33vw;
        border-radius: 8.33vw;
    }

    .video-lesson__text {
        padding: 0;
        font-size: 4vw;
        line-height: 6.5vw;
    }

    .video-lesson__text:not(:last-of-type) {
        margin-bottom: 8vw;
    }
}

/*! -----VIDEO----- */
@media (max-width: 750px) {
    .video__media {
        border-radius: 6.67vw;
    }

    .video__button {
        width: 16.33vw;
        height: 11.5vw;
    }
}

/*! -----DOWNLOAD-DOC----- */
@media (max-width: 750px) {
    .download-doc__title {
        margin-bottom: 8.33vw;
        font-size: 4.67vw;
        line-height: 6.33vw;
        letter-spacing: 0.12em;
    }

    .download-doc__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;
        padding-bottom: 16.67vw;
    }

    .download-doc__item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
    }

    .download-doc__item--material {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .download-doc__item:not(:last-of-type) {
        margin-bottom: 10vw;
    }

    .download-doc__ext {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 19.5vw;
        height: 25vw;
        margin-bottom: 0;
        border: 0.5vw solid #00B8D4;
        border-radius: 1.67vw;
    }

    .download-doc__ext-text {
        left: 2.75vw;
        bottom: 2.915vw;
        font-size: 4vw;
        line-height: 4.83vw;
    }

    .download-doc__item-title {
        margin-bottom: 3.2966vw;
        padding-left: 6.67vw;
        font-size: 4.33vw;
        line-height: 6vw;
    }

    .download-doc__link {
        margin-left: 6.67vw;
        font-size: 3.33vw;
        line-height: 7.33vw;
        border-bottom: 0.33vw solid #00B8D4;
    }

    .download-doc__link:active {
        color: #00B8D4;
        cursor: pointer;
    }

    /*! ---Классы, используемые на странице "Материалы"--- */
    .download-doc__show {
        margin-bottom: 10vw;
    }

    .download-doc__show-text {
        margin-right: 2.67vw;
        font-size: 3.67vw;
        line-height: 4.33vw;
    }

    .download-doc__show-cards,
    .download-doc__show-list {
        font-size: 4vw;
        line-height: 6.5vw;
    }

    .download-doc__show-cards {
        margin-right: 2.67vw;
    }

    .download-doc__ext--card-high,
    .download-doc__ext--card-medium,
    .download-doc__ext--card-low {
        margin-bottom: 8.5vw;
        border: none;
        border-radius: 6.67vw;
    }

    .download-doc__ext--card-high {
        width: 90vw;
        height: 113.59vw;
    }

    .download-doc__ext--card-medium {
        width: 90vw;
        height: 90vw;
    }

    .download-doc__ext--card-low {
        width: 90vw;
        height: 63vw;
    }

    .download-doc__ext--card-high span,
    .download-doc__ext--card-medium span,
    .download-doc__ext--card-low span {
        width: 0.085vw;
        height: 0.085vw;
    }

    .download-doc__ext--card-high img,
    .download-doc__ext--card-medium img,
    .download-doc__ext--card-low img {
        border-radius: 6.67vw;
    }

    .download-doc__ext--card-low .download-doc__ext-video {
        border-radius: 6.67vw;
    }
}

/*! -----MARK-TASK----- */
@media (max-width: 750px) {
    .mark-task {
        padding-bottom: 14.33vw;
        font-size: 0.96vw;
        line-height: 1.18vw;
        text-align: center;
    }

    .mark-task__button {
        margin-bottom: 0;
        min-width: auto;
    }

    .mark-task__button-text1 {
        display: none;
    }

    .mark-task__button-text2 {
        display: inline;
    }

    .mark-task__nav {
        display: none;
    }
}

/*! -----ACTIVITY----- */
@media (max-width: 750px) {
    .activity__title {
        margin-bottom: 13.33vw;
        font-size: 6.67vw;
        line-height: 8.33vw;
        text-align: center;
    }

    .activity__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;
    }

    .activity__card {
        margin-bottom: 10vw;
        padding-bottom: 2.33vw;
        border-radius: 6.67vw;
    }

    .activity__card:last-of-type {
        margin-bottom: 0;
    }

    .activity__img {
        width: 100%;
        height: 67.8333vw;
        margin-bottom: 8.33vw;
        border-radius: 6.67vw;
    }

    .activity__card-title {
        margin: 0 0 3.83vw 5vw;
        font-size: 4.33vw;
        line-height: 6vw;
    }

    .activity__card:active .activity__card-title {
        color: #00B8D4;
    }

    .activity__date {
        margin: 0 0 3.83vw 5vw;
        font-size: 4vw;
        line-height: 4.83vw;
        color: #4F4F4F;
    }

    .activity__location {
        margin-left: 5vw;
        font-size: 2.67vw;
        line-height: 3.33vw;
    }
}

/*! ------INNER-ACTIVITY----- */
@media (max-width: 750px) {
    .inner-activity {
        padding-bottom: 16.67vw;
        letter-spacing: 0.14em;
    }

    .inner-activity__title {
        margin-bottom: 13.33vw;
        font-size: 6.67vw;
        line-height: 8.33vw;
        text-align: center;
    }

    .inner-activity__img {
        width: 100%;
        height: 67.81vw;
        margin: 0 auto 13.33vw;
        border-radius: 6.67vw;
    }

    .inner-activity__title-2 {
        margin: 0 0 8.33vw 0;
        font-size: 6vw;
        line-height: 7vw;
        letter-spacing: 0.33vw;
    }

    .inner-activity__text {
        margin: 0 0 8.33vw 0;
        font-size: 4vw;
        line-height: 6.5vw;
    }

    .inner-activity__title-3 {
        margin: 13.33vw 0 8.33vw 0;
        font-size: 4.67vw;
        line-height: 6.33vw;
        letter-spacing: 0.12em;
    }

    .inner-activity__text-different {
        margin: 0 0 8.33vw 5vw;
        font-size: 5.33vw;
        line-height: 8.5vw;
    }

    .inner-activity__date {
        margin: 11.67vw 0 0 0;
        font-size: 4vw;
        line-height: 6.5vw;
    }
}

/*! -----ACCOUNT----- */
@media (max-width: 750px) {
    .account {
        padding: 0;
        padding-bottom: 16.666vw;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000000;
        text-align: center;
    }

    .account--js {
        padding-bottom: 7.67vw;
    }

    .account__title {
        margin: 0 0 13.33vw 0;
        font-size: 6.67vw;
        line-height: 8.33vw;
        text-align: center;
        font-weight: 900;
    }

    .account__title2 {
        margin: 5.31vw 0 9vw;
        font-size: 4.33vw;
        line-height: 6vw;
        letter-spacing: 0.07em;
    }

    .account__shevron {
        top: -0.65vw;
        width: 4vw;
        height: 2.33vw;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .account__shevron--js {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .account__form-container {
        height: auto;
        opacity: 1;
        -webkit-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }

    .account__form-container--js {
        height: 0;
        opacity: 0;
    }

    .account__form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 6vw;
    }

    .account__form input,
    .account__form select {
        width: 100%;
        height: 9.33vw;
        margin-bottom: 7.33vw;
        padding: 2.67vw 0;
        font-size: 4vw;
        line-height: 4vw;
        border-bottom: 0.33vw solid #DADADA;
    }

    .account__ava-container {
        width: 90vw;
        height: 90vw;
        margin-bottom: 13.33vw;
        border: 0.33vw dashed #DADADA;
    }

    .account__ava-container::before {
        top: 31.667vw;
        left: 31.667vw;
        width: 26.666vw;
        height: 26.666vw;
        border: 0.33vw dashed #DADADA;
    }

    .account__ava-text {
        padding-top: 61.5vw;
        margin: 0;
        font-size: 4vw;
        line-height: 6.83vw;
        letter-spacing: 0.07em;
    }

    .account__ava-form::before,
    .account__ava-form::after {
        width: 11.166vw;
        height: 0.33vw;
    }

    .account__ava-form::before {
        top: 44.835vw;
        left: 39.167vw;
    }

    .account__ava-form::after {
        top: 44.835vw;
        left: 39.167vw;
    }
}

/*! -----SELLERS----- */
@media (max-width: 750px) {
    .sellers {
        padding-left: 0;
        letter-spacing: 0;
        text-transform: uppercase;
        color: #000000;
    }

    .sellers__title {
        margin: 0;
        margin-bottom: 9.67vw;
        font-size: 6vw;
        line-height: 7vw;
        letter-spacing: 0.33vw;
        text-align: center;
    }

    .sellers__sort {
        margin-bottom: 12.39vw;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .sellers__sort-text {
        width: 100%;
        margin-right: 0;
        font-size: 3.67vw;
        line-height: 4.33vw;
        letter-spacing: 0.12em;
        text-align: center;
    }

    .sellers__sort-alph,
    .sellers__sort-date,
    .sellers__sort-default {
        margin-right: 0;
        margin-bottom: 10vw;
        font-size: 4vw;
        line-height: 6.5vw;
    }

    .sellers__sort-default {
        margin-right: 0;
    }

    .sellers__search {
        width: 100%;
    }

    .sellers__search-button {
        top: 2.4vw;
        right: 0;
        width: 4vw;
        height: 4.17vw;
    }

    .sellers__sort-active {
        color: #00B8D4;
    }

    .sellers__sort input {
        width: 100%;
        height: 8.67vw;
        margin-left: 0;
        padding: 1.67vw 0;
        font-size: 4vw;
        line-height: 6.5vw;
        border-bottom: 0.17vw solid #DADADA;
    }

    .sellers__card {
        margin-bottom: 12.67vw;
        max-width: 90vw;
    }

    .sellers__card-header {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 4.33vw;
        padding-left: 18.166vw;
    }

    .sellers__card-header img {
        position: absolute;
        top: 0;
        left: 0;
        width: 13.33vw;
        height: 14.67vw;
        margin-right: 1.4vw;
    }

    .sellers__card-name {
        width: 63vw;
        height: 9.33vw;
        margin-right: 1.67vw;
        margin-bottom: 3vw;
        font-size: 4vw;
        line-height: 5vw;
        letter-spacing: 0.12em;
    }

    .sellers__card-email {
        font-size: 1.1vw;
        line-height: 100%;
        -webkit-text-decoration-line: underline;
        text-decoration-line: underline;
        color: #00B8D4;
        text-transform: none;
        -webkit-align-self: start;
        -ms-flex-item-align: start;
        align-self: start;
    }

    .sellers__card-email-text {
        display: none;
    }

    .sellers__card-email-icon {
        display: inline-block;
        width: 5vw;
        height: 3.67vw;
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='22' viewBox='0 0 30 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.2283 2H3.77168L15 10.7331L26.2283 2ZM2 3.15575V20H28V3.15575L15.6139 12.7894L15 13.2669L14.3861 12.7894L2 3.15575ZM0 0H2H28H30V2V20V22H28H2H0V20V2V0Z' fill='%2300B8D4'/%3E%3C/svg%3E%0A");
        background-size: cover;
    }

    .sellers__card-edit,
    .sellers__card-del {
        font-size: 3.17vw;

    }

    .sellers__card-edit {
        margin-left: 0;
        margin-right: 5vw;
    }

    .sellers__card-table-container {
        max-width: 90vw;
        overflow: auto;
    }

    .sellers__card-table {
        border-collapse: collapse;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        font-size: 4vw;
        text-transform: none;
    }

    .sellers__card-table tr {
        height: 13.67vw;
        padding: 5vw 0;
    }

    .sellers__card-table th {
        border-bottom: 0.17vw solid #DADADA;
        font-weight: 600;
        text-align: left;
    }

    .sellers__card-table th {
        padding-right: 20vw;
    }

    .sellers__card-table th:first-of-type {
        width: 63vw;
        padding-right: 0;
    }

    .sellers__card-table td {
        font-weight: 400;
    }
}

/*! -----NEWS----- */
@media (max-width: 750px) {
    .news__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 90vw;
    }

    .news__container--js {
        width: 90vw;
    }

    .news__item {
        margin-bottom: 10vw;
        width: 90vw;
        height: 72.872vw;
        font-size: 6.67vw;
        line-height: 9.33vw;
    }

    .news__item--wide {
        width: 90vw;
        height: 72.872vw;
        font-weight: 700;
        font-size: 6.67vw;
        line-height: 9.33vw;
    }

    .news__item-img {
        z-index: 1;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 4.17vw;
    }

    .news__item-shadow {
        border-radius: 4.17vw;
    }

    .news__item-info {
        left: 9.33vw;
        bottom: 8.17vw;
    }

    .news__item-time {
        display: inline-block;
        margin-bottom: 7.5vw;
        font-weight: 600;
        font-size: 4vw;
        line-height: 4.83vw;
        color: #FFFFFF;
    }

    .news__item-title {
        margin: 0 0 6.67vw 0;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        font-weight: inherit;
        color: #FFFFFF;
    }

    .news__item-link {
        padding: 2.33vw 4vw;
        font-size: 2.67vw;
        line-height: 3.17vw;
        border: 0.33vw solid #FFFFFF;
        border-radius: 6.67vw;
    }

    .news__video {
        margin-bottom: 10vw;
        min-height: 21vw;
        width: 90vw;
    }

    .news__video-title {
        margin: 8.33vw 0 3.83vw 9.33vw;
        font-size: 4.33vw;
        line-height: 6vw;
        letter-spacing: 0.07em;
    }

    .news__video-time {
        margin-left: 9.33vw;
        font-size: 4vw;
        line-height: 6.5vw;
    }
}

/*! -----LOGIN----- */
@media (max-width: 750px) {
    .login {
        padding: 0;
    }

    .login__title {
        margin: 0 0 10.67vw 0;

        font-weight: 900;
        font-size: 6.67vw;
        line-height: 8.33vw;
        letter-spacing: 0.14em;
        text-align: center;
    }

    .login__text {
        font-size: 5.22vw;
        line-height: 125%;
        text-align: center;
    }

    .login__form {
        flex-direction: column;

        margin-bottom: 13.33vw;
    }

    .field-loginform-email,
    .field-loginform-password {
        margin-right: 0;
        height: 16.66vw;
    }

    .login__form input[name="login"],
    .login__form input[name="password"] {
        width: 100%;
    }

    .login__form input[name="password"] {
        margin-bottom: 13.33vw;
    }

    .login__form-forgot-link {
        top: 12.5vw;
        right: 0;
        font-size: 4vw;
        line-height: 4vw;
    }

    .login__form-forgot-link--password {
        margin: 0;
    }

    .login__form-btn-container--left {
        margin-top: 12.5vw;
        text-align: center;
    }

    .login__form-btn-container--mb {
        margin-bottom: 36.52vw;
    }

    .login__img {
        transform: translateX(0%);
        width: 100%;
    }
}

/*! ----- test ----- */
@media (max-width: 750px) {

    .main--test {
        min-height: initial;
    }

    .test__img {
        z-index: 1;
        display: block;
        position: static;
        width: 100vw;
        max-width: initial;
        height: 75.94vw;
        margin-left: -5vw;
        margin-bottom: -13.33vw;
    }

    .test {
        display: flex;
        flex-direction: column;
    }

    .test__title {
        width: 80.16vw;
        margin: 0 auto;
        margin-bottom: 15.62vw;
        font-size: 6.25vw;
        line-height: 7.81vw;
        text-align: center;
    }

    .test__form {
        margin-left: 0;
        margin-bottom: 23.44vw;
    }

    .test__question,
    .test__congrat {
        margin: 0;
        margin-bottom: 12.5vw;
        font-weight: bold;
        font-size: 5vw;
        line-height: 5.94vw;
    }

    .test__congrat {
        margin-bottom: 9.37vw;
        margin-left: 0;
        text-align: center;
    }

    .test__variants {
        margin-bottom: 12.5vw;
    }

    .test__variant {
        font-size: 3.75vw;
        line-height: 1.15;
    }

    .test__variant:not(:last-of-type) {
        margin-bottom: 5vw;
    }

    .test__custom-radio {
        width: 4.69vw;
        height: 4.69vw;
        margin-right: 3.125vw;
    }

    .test input[type="radio"]:checked + span {
        background-color: #00B8D4;
        background-image: url('../images/Vector9.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    .test textarea {
        width: 100%;
        margin-bottom: 12.5vw;
        padding: 2.67vw;
        font-size: 4vw;
        line-height: 1.15;
    }

    .test__of {
        margin-bottom: 6.25vw;
        margin-left: 0;
        font-size: 9.375vw;
        line-height: 100%;
        letter-spacing: 0.14em;
        text-align: center;
    }

    .test__you-are-ready {
        margin-bottom: 9.375vw;
        margin-left: 0;
        font-size: 3.75vw;
        line-height: 4.375vw;
        text-align: center;
    }

    .test__another {
        align-self: center;
        margin: initial;
        margin-bottom: 23.44vw;
    }

    /* ----- t-footer ----- */
    .t-footer {
        width: 100%;
        margin-top: auto;
        margin-bottom: 7.81vw;
        flex-direction: column;
        align-items: center;
    }

    .t-footer__progress-container {
        width: 100%;
        height: 5vw;
        margin-bottom: 7.81vw;
    }

    .test__another {
        align-self: flex-start;
        margin-left: 4.41vw;
    }

    .t-footer__progress-under-bar {
        width: calc(100% - 5vw);
        height: 1.1vw;
        background-color: #DADADA;
    }

    .t-footer__progress-bar {
        height: 1.1vw;
    }

    .t-footer__progress__circle {
        width: 5vw;
        height: 5vw;
    }

    .t-footer__progress__circle::before {
        width: 5vw;
        height: 5vw;
        background-size: 2.08vw 1.53vw;
    }

    .t-footer__of {
        font-size: 3.75vw;
        margin-bottom: 7.03vw;
    }

    .t-footer__link {
        font-size: 3.75vw;
        line-height: 217%;
        color: #00B8D4;
    }
}

/*! ----- mob-modal ----- */
@media (max-width: 750px) {
    .mob-modal {
        z-index: 2;
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        min-height: 100vh;
        padding: 11.4vw 8.91vw 12.34vw;
        background-color: #fff;
        overflow: scroll;
        animation: fade 0.75s ease both;
    }

    .mob-modal__btn {
        display: block;
        flex-shrink: 0;
        width: 5vw;
        height: 3.44vw;
        margin-left: -4.38vw;
        margin-bottom: 12.03vw;
        background-image: url("data:image/svg+xml,%3Csvg width='33' height='24' viewBox='0 0 33 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.93934 13.0607C0.353553 12.4749 0.353553 11.5252 0.93934 10.9394L10.4853 1.39344C11.0711 0.807655 12.0208 0.807655 12.6066 1.39344C13.1924 1.97923 13.1924 2.92898 12.6066 3.51476L5.62132 10.5H33V13.5H5.62132L12.6066 20.4853C13.1924 21.0711 13.1924 22.0209 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607Z' fill='black'/%3E%3C/svg%3E%0A");
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        border: none;
        background-color: transparent;
    }

    .mob-modal__list {
        padding: 0;
        margin-bottom: 18.28vw;
    }

    .mob-modal__item {
        list-style-type: none;
        transition: all 1s ease;
    }

    .mob-modal__item:not(:last-of-type) {
        margin-bottom: 8.13vw;
    }

    .mob-modal__link {
        text-decoration: none;
        font-size: 3.44vw;
        line-height: 4.06vw;
        letter-spacing: 0.47vw;
        text-transform: uppercase;
        font-weight: bold;
        color: inherit;
    }

    .mob-modal__list2 {
        padding: 0;
        margin-top: 5.78vw;
        margin-bottom: 9.53vw;
        animation: fade-height 1s ease both;
    }

    .mob-modal__item2 {
        list-style-type: none;
    }

    .mob-modal__item2:not(:last-of-type) {
        margin-bottom: 4.38vw;
    }

    .mob-modal__link2 {
        font-size: 3.75vw;
        line-height: 4.53vw;
        color: #4F4F4F;
        text-decoration: none;
    }

    .mob-modal__before-enter {
        margin-top: auto;
        margin-bottom: 17.81vw;
    }

    .mob-modal__before-link {
        font-size: 3.75vw;
        line-height: 4.53vw;
        text-decoration: none;
        color: #4F4F4F;
    }

    .mob-modal__after-enter {
        position: relative;
        margin-top: auto;
        margin-bottom: 9.69vw;
    }

    .mob-modal__name {
        font-size: 3.78vw;
        line-height: 6.45vw;
        margin: 0;
        margin-bottom: 3.75vw;
    }

    .mob-modal__after-link {
        display: block;
        font-size: 3.75vw;
        line-height: 4.53vw;
        color: #4F4F4F;
    }

    .mob-modal__after-link:not(:last-of-type) {
        margin-bottom: 4.53vw;
    }

    .mob-modal__bonuses {
        position: absolute;
        top: 1.5vw;
        right: 0;
        padding: 0.75vw 2.5vw;
        font-weight: bold;
        font-size: 2.5vw;
        line-height: 2.97vw;
        display: inline-flex;
        letter-spacing: 0.5vw;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #00B8D4;
        border-radius: 5vw;
    }

    .mob-modal__lang-container {
    }

    .mob-modal__lang-text {
        font-size: 3.75vw;
        line-height: 4.53vw;
        color: #4F4F4F;
    }

    .header__lang {
        font-weight: 600;
        font-size: 2.81vw;
        line-height: 3.44vw;
    }

    .display-none {
        display: none;
    }

    .sing_input {
        margin-bottom: 0 !important;
    }

    .main-content--login .help-block-error {
        position: relative;
        bottom: 0.7vw;
        font-weight: 400;
        color: red;
        transition: all 0.5s ease;
    }
}
