﻿@font-face {
    font-family: 'Harmonia Sans';
    src: local('Harmonia Sans Regular'), local('Harmonia-Sans-Regular'), url('../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'), url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia Sans';
    src: local('Harmonia Sans Bold'), local('Harmonia-Sans-Bold'), url('../fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'), url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia Sans';
    src: local('Harmonia Sans Black'), local('Harmonia-Sans-Black'), url('../fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'), url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@keyframes fade-height {
    from {
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
    }
    to {
        opacity: 1;
        transform: scaleY(1);
        transform-origin: top;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {

    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    /* 2 */
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

button,
input {
    /* 1 */
    overflow: visible;
}

button,
select {
    /* 1 */
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/*! End of Normalize.css */
@-webkit-keyframes bell {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    20% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    30% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes bell {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    20% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    30% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: 'Harmonia Sans', arial, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

input {
    outline-color: lightgray;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    min-height: 100vh;
    background: #F2F2F2;
}

.main-content {
    position: relative;
    width: -webkit-calc(76vw - 20px);
    width: calc(76vw - 20px);
    padding: 3.16vw;
    padding-left: 5.88vw;
    background-color: #ffffff;
    border-radius: 3.68vw 0 0 3.68vw;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.main-content--js {
    width: -webkit-calc(100vw - 20px);
    width: calc(100vw - 20px);
}

.main-content--login {
    width: 100%;
    grid-column: 1 / -1;
}

.mobile-menu-open {
    display: none;
}

.main-content__button {
    position: absolute;
    top: 9.56vw;
    left: -2.21vw;
    width: 2.21vw;
    height: 3.68vw;
    background-color: #00B8D4;
    border: none;
    border-radius: 0;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.main-content__button::before,
.main-content__button::after {
    position: absolute;
    width: 0.59vw;
    height: 0.15vw;
    content: "";
    background-color: #FFFFFF;
    border-radius: 25%;
}

.main-content__button::before {
    top: 1.54vw;
    left: 40%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.main-content__button::after {
    top: 1.91vw;
    left: 40%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.main-content__button--hide-menu {
    left: 0;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

/*! -----MAIN-NAV----- */
.main-nav {
    width: 24vw;
    padding: 2.94vw;
    padding-top: 3.16vw;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.main-nav--hide-menu {
    margin-left: -24vw;
}

.main-nav__logo {
    margin-bottom: 11.99vw;
}

.main-nav__list {
    margin: 0;
    padding: 0;
}

.main-nav__item {
    font-weight: bold;
    font-size: 1.03vw;
    line-height: 1.25vw;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #000000;
    list-style-type: none;
}

.main-nav__item:not(:last-of-type) {
    margin-bottom: 2.353vw;
}

.main-nav__link {
    color: inherit;
    border-bottom: 0.22vw solid transparent;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.main-nav__link--current {
    position: relative;
    color: #00B8D4;
}

.main-nav__link--current::before {
    position: absolute;
    display: block;
    left: -2vw;
    top: 0;
    height: 100%;
    width: 0.2vw;
    content: "";
    background-color: #00B8D4;
}

.main-nav__link:hover,
.main-nav__link:active {
    border-bottom: 0.22vw solid #00B8D4;
}

.main-nav__link--current:hover,
.main-nav__link--current:active {
    border-bottom: 0.22vw solid transparent;
    cursor: default;
}

.main-nav__list-2 {
    padding: 0;
    margin: 0;
    margin-bottom: 2.94vw;
}

.main-nav__item-2 {
    font-size: 1.1vw;
    line-height: 1.32vw;
    color: #4f4f4f;
    list-style-type: none;
}

.main-nav__item-2:not(:last-of-type) {
    margin-bottom: 1.4vw;
}

.main-nav__link-2 {
    padding: 0.75vw 0;
    color: inherit;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.main-nav__link-2--current {
    color: #00B8D4;
}

.main-nav__link-2--current:hover {
    cursor: default;
}

.main-nav__link-2:hover,
.main-nav__link-2:active {
    color: #00B8D4;
}

/*! -----BUTTONS----- */
.blue-border-button {
    display: inline-block;
    min-width: 22.65vw;
    min-height: 5vw;
    padding: 1.5vw 2.94vw;
    font-size: 1.32vw;
    text-transform: inherit;
    font-weight: inherit;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    border: 0.22vw solid #00B8D4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3.68vw;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}

.blue-border-button--own-size {
    min-width: initial;
}

.blue-border-button:hover {
    background-color: #00B8D4;
    color: #FFFFFF;
}

.blue-border-button:active {
    background-color: #0C9AAF;
}

/*! -----HEADER----- */
.header__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 8.31vw;
}

.header__menu--inner {
    margin-bottom: 4.85vw;
}

.header__lang-container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    width: 3.8vw;
    border-radius: 25%;
}

.header__lang {
    position: relative;
    font-size: 1.03vw;
    line-height: 1.25vw;
    font-weight: 700;
    text-transform: uppercase;
    border: 0 !important;
    border-radius: 25%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 0.74vw;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

.header__lang-container::before,
.header__lang-container::after,
.header__button::before,
.header__button::after {
    position: absolute;
    top: 0.22vw;
    width: 0.59vw;
    height: 0.15vw;
    content: "";
    background-color: #000000;
    border-radius: 25%;
}

.header__lang-container::before,
.header__lang-container::after {
    top: 1.25vw;
}

.header__lang-container::before {
    right: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header__lang-container::after {
    right: 0.4vw;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header__lang::-ms-expand {
    display: none;
}

.header__lang:hover {
    background-color: rgba(0, 184, 212, 0.25);
}

.header__bell {
    position: relative;
    margin-right: 3.24vw;
    cursor: pointer;
    width: 1.18vw;
    height: 1.5vw;
    background-image: url("data:image/svg+xml, %3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.414387 15.9161C0.473176 15.878 0.915636 15.568 1.35868 14.6303C2.17232 12.9084 2.3431 10.4827 2.3431 8.75098C2.3431 8.74344 2.34325 8.73598 2.34353 8.72848C2.35239 6.43984 3.72282 4.46695 5.68392 3.58176V2.22797C5.68392 0.999453 6.68173 0 7.90821 0H8.09255C9.31903 0 10.3168 0.999453 10.3168 2.22797V3.58168C12.2845 4.46973 13.6577 6.45269 13.6577 8.75098C13.6577 10.4827 13.8284 12.9083 14.6421 14.6303C15.0851 15.568 15.5275 15.8779 15.5864 15.9161C15.8341 16.0308 15.9563 16.2956 15.8993 16.564C15.8417 16.8351 15.5884 17.022 15.3117 17.022H11.0169C10.9929 18.6681 9.64938 20 8.00036 20C6.35134 20 5.00782 18.6681 4.98384 17.022H0.689034C0.412394 17.022 0.158996 16.8351 0.101457 16.564C0.0445423 16.2956 0.166653 16.0307 0.414387 15.9161ZM9.14493 2.22797C9.14493 1.64668 8.67282 1.17379 8.09251 1.17379H7.90817C7.32786 1.17379 6.85575 1.64668 6.85575 2.22797V3.20129C7.22559 3.12484 7.60845 3.08461 8.00052 3.08461C8.39247 3.08461 8.7752 3.1248 9.14489 3.20117V2.22797H9.14493ZM8.00036 18.8262C9.00321 18.8262 9.82122 18.0209 9.84501 17.022H6.15575C6.1795 18.0208 6.99751 18.8262 8.00036 18.8262ZM5.64099 15.8481C5.6411 15.8481 13.9763 15.8481 13.9763 15.8481C13.875 15.6902 13.7718 15.5113 13.6693 15.3091C12.884 13.7606 12.4857 11.5541 12.4857 8.75098C12.4857 6.27375 10.4737 4.2584 8.00056 4.2584C5.52743 4.2584 3.51536 6.27375 3.51536 8.75293C3.51536 8.76016 3.51525 8.76734 3.51497 8.77453C3.51274 11.5664 3.11458 13.765 2.33146 15.3091C2.22892 15.5113 2.12571 15.6902 2.02439 15.8481H5.64099Z' fill='black'/%3E%3C/svg%3E%0A");
    background-size: cover;
    background-repeat: no-repeat;
}

.header__bell:hover {
    -webkit-animation: bell 5s;
    animation: bell 5s;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.header__bell--allert {
    -webkit-animation: bell 5s infinite;
    animation: bell 5s infinite;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.header__bell--allert::before {
    position: absolute;
    display: block;
    top: -0.29vw;
    right: -0.29vw;
    width: 0.29vw;
    height: 0.29vw;
    content: "";
    border-radius: 50%;
    background-color: #FF4B55;
}

.header__bonuses {
    display: inline-block;
    margin-right: 0.81vw;
    padding: 0.29vw 0.81vw;
    font-size: 0.74vw;
    line-height: 0.88vw;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.15vw;
    background: #00B8D4;
    border-radius: 1.41vw;
}

.header__username-block {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.header__username {
    margin-right: 0.81vw;
    font-size: 1.1vw;
    line-height: 1.91vw;
}

.header__button {
    position: relative;
    display: block;
    width: 0.88vw;
    height: 0.44vw;
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    outline: none;
}

.header__button.active {
    transform: scaleY(-1);
}

.header__button::before {
    right: -0.1vw;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header__button::after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header__button:focus::before,
.header__button:focus::after {
    background-color: #00B8D4;
}

.header__username-menu {
    position: absolute;
    left: 0;
    top: calc(100% + 1.32vw);
    width: 100%;
    font-size: 1.1vw;
    line-height: 120%;
    color: #4F4F4F;
    animation: fade-height 0.5s ease both;
}

.header__username-menu-link {
    display: block;
    color: inherit;
}

.header__username-menu-link:not(:last-of-type) {
    margin-bottom: 1.32vw;
}

/*! -----INTRO----- */
.intro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.intro__title {
    margin: 0;
    font-weight: 900;
    font-size: 3.4vw;
    line-height: 3.68vw;
    letter-spacing: 0.14em;
    text-transform: uppercase;
}

.intro__link {
    display: inline-block;
    padding: 1.8vw;
    font-weight: bold;
    font-size: 1.32vw;
    line-height: 0.74vw;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #00B8D4;
    border-radius: 3.68vw;
    border: 0.22vw solid #00B8D4;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.intro__link:hover {
    box-shadow: 0px 4px 17px rgba(0, 184, 212, 0.5);
    border-radius: 50px;
}

.intro__link:active {
    background-color: #0C9AAF;
}

.intro__img {
    display: block;
    width: 100%;
    max-width: 71.69vw;
    height: auto;
    margin: 0 auto;
}

/*! -----COURSES----- */
.courses {
    position: relative;
    margin-bottom: 5.15vw;
    text-transform: uppercase;
    font-weight: 700;
}

.courses__title {
    font-size: 2.65vw;
    line-height: 3.09vw;
    letter-spacing: 0.15vw;
    margin: 0;
    margin-bottom: 4.93vw;
}

.courses__nav-list,
.courses__inner-nav-list {
    padding: 0;
    margin: 0;
    margin-bottom: 4.41vw;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 0.96vw;
    line-height: 1.18vw;
    letter-spacing: 0.12em;
}

.courses__item,
.courses__inner-item {
    list-style-type: none;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.courses__link,
.courses__inner-link {
    color: inherit;
    border-bottom: 0.22vw solid transparent;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.courses__link:hover,
.courses__link:active,
.courses__inner-link:hover,
.courses__inner-link:active {
    border-bottom: 0.2vw solid #00B8D4;
}

.courses__inner-nav-list {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 1.54vw;
    min-height: 2.65vw;
}

.courses__inner-nav-list--material {
    overflow: auto;
    min-height: 4.25vw;
    padding-top: 0.9vw;
}

.courses__inner-nav-list--parent {
    min-height: 3.25vw;
    margin-bottom: 10px;
}

.courses__inner-item--arrow {
    display: none;
}

.courses__inner-item:not(:last-of-type) {
    margin-right: 2.21vw;
}

.courses__inner-link--current {
    min-height: 2.65vw;
    padding: 0.81vw 1.25vw 0.66vw;
    color: #FFFFFF;
    font-size: 0.96vw;
    line-height: 1.18vw;
    background-color: #00B8D4;
    border-radius: 3.68vw;
}

.courses__inner-link--current:hover {
    cursor: default;
}

.courses__lesson-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 5.15vw;
}

.courses__lesson-item {
    list-style-type: none;
}

.courses__lesson-item:not(:last-of-type) {
    margin-right: 2.21vw;
}

.courses__lesson-link {
    padding: 0.75vw 0;
    text-transform: none;
    font-size: 1.1vw;
    line-height: 1.32vw;
    font-weight: 400;
    color: #4F4F4F;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.courses__lesson-link:hover {
    color: #00B8D4;
}

.courses__lesson-link--current {
    color: #00B8D4;
    padding: 0.75vw 0;
    text-transform: none;
    font-size: 1.1vw;
    line-height: 1.32vw;
    font-weight: 400;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;;
}

.courses__lesson-link--current:hover {
    cursor: default;
}

.courses__info-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 4.41vw;
}

.courses__info {
    display: inline-block;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 16.84vw;
    min-height: 5vw;
    padding: 0.95vw 1.84vw;
    border: 1px solid #DADADA;
    border-radius: 3.68vw;
}

.courses__info:first-of-type {
    margin-right: 2.21vw;
}

.courses__info-text {
    display: inline-block;
    font-size: 0.96vw;
    line-height: 1.18vw;
    margin-right: 2.8vw;
    margin-top: -0.3vw;
}

.courses__info-percent {
    position: relative;
    top: 0.25vw;
    display: inline-block;
    font-size: 1.99vw;
    line-height: 2.35vw;
}

.courses__progress-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.courses__progress-item {
    position: relative;
    list-style-type: none;
    width: 1.32vw;
    height: 1.32vw;
    border-radius: 50%;
    background-color: #DADADA;
}

.courses__progress-item::after {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.32vw;
    height: 1.32vw;
    content: "";
    border-radius: 50%;
    background-color: #DADADA;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='8' viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4L4 6.5L8.5 1' stroke='white' stroke-width='1.2'/%3E%3C/svg%3E%0A");
    background-size: 0.66vw 0.59vw;
    background-repeat: no-repeat;
    background-position: center center;
}

.courses__progress-item--completed::after {
    background-color: #00B8D4;
}

.courses__progress-item--completed:hover::after {
    background-color: #0C9AAF;
}

.courses__progress-text {
    color: #DADADA;
    list-style-type: none;
    margin-left: -2.94vw;
}

.courses__progress-text--completed {
    color: #000000;
}

.courses__progress-item:not(:first-of-type)::before {
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 1.32vw;
    display: block;
    width: 10vw;
    height: 0.15vw;
    background-color: #DADADA;
    content: "";
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.courses__progress-item--completed:not(:first-of-type)::before {
    background-color: #00B8D4;
}

.courses__progress-item--js:not(:first-of-type)::before {
    width: 13.5vw;
}

/*! -----MODULS----- */
.moduls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 4.5vw;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.moduls--js {
    padding: 0 1.8vw;
}

.modul-card {
    position: relative;
    width: 27.21vw;
    height: 19.12vw;
    padding: 2.65vw 2.65vw 1.84vw 2.65vw;
    margin-bottom: 2.21vw;
    background: #DEF1F3;
    border-radius: 1.84vw;
}

.modul-card--exam {
    background: #00B8D4;
    color: #FFFFFF;
}

.modul-card__title {
    margin: 0;
    margin-bottom: 1.76vw;
    font-size: 1.18vw;
    line-height: 1.4vw;
}

.modul-card__percent {
    position: absolute;
    top: 1.99vw;
    right: 2.5vw;
    font-size: 2.94vw;
    line-height: 3.53vw;
    color: rgba(255, 255, 255, 0.6);
}

.modul-card__percent--completed {
    display: block;
    top: 1.99vw;
    right: 1.91vw;
    width: 1.91vw;
    height: 1.91vw;
    border-radius: 50%;
    background-color: #00B8D4;
    background-image: url("data:image/svg+xml,%3Csvg width='10.83' height='7.94' viewBox='0 0 10.83 7.94' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4L4 6.5L8.5 1' stroke='white' stroke-width='1.2'/%3E%3C/svg%3E%0A");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 1.03vw 0.74vw;
}

.modul-card__passed-users {
    margin: 0;
    margin-bottom: 1.62vw;
    font-size: 1.1vw;
    line-height: 1.32vw;
    color: #4F4F4F;
    text-transform: none;
    font-weight: 400;
}

.modul-card__passed-users--exam {
    color: #FFFFFF;
}

.modul-card__passed-icon {
    display: inline-block;
    width: 0.826vw;
    height: 0.81vw;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='27' viewBox='0 0 25 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.3362 7.10526C16.3362 9.92482 14.0505 12.2105 11.231 12.2105C8.4114 12.2105 6.1257 9.92482 6.1257 7.10526C6.1257 4.2857 8.4114 2 11.231 2C14.0505 2 16.3362 4.2857 16.3362 7.10526ZM18.3362 7.10526C18.3362 11.0294 15.1551 14.2105 11.231 14.2105C7.30683 14.2105 4.1257 11.0294 4.1257 7.10526C4.1257 3.18113 7.30683 0 11.231 0C15.1551 0 18.3362 3.18113 18.3362 7.10526ZM2 27.0001C2 22.1798 6.51249 18.0527 12.3684 18.0527C18.2243 18.0527 22.7368 22.1798 22.7368 27.0001H24.7368C24.7368 20.8328 19.0697 16.0527 12.3684 16.0527C5.66714 16.0527 0 20.8328 0 27.0001H2Z' fill='black'/%3E%3C/svg%3E%0A");
    background-size: cover;
}

.modul-card__passed-icon--exam {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='27' viewBox='0 0 25 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.3362 7.10526C16.3362 9.92482 14.0505 12.2105 11.231 12.2105C8.4114 12.2105 6.1257 9.92482 6.1257 7.10526C6.1257 4.2857 8.4114 2 11.231 2C14.0505 2 16.3362 4.2857 16.3362 7.10526ZM18.3362 7.10526C18.3362 11.0294 15.1551 14.2105 11.231 14.2105C7.30683 14.2105 4.1257 11.0294 4.1257 7.10526C4.1257 3.18113 7.30683 0 11.231 0C15.1551 0 18.3362 3.18113 18.3362 7.10526ZM2 27.0001C2 22.1798 6.51249 18.0527 12.3684 18.0527C18.2243 18.0527 22.7368 22.1798 22.7368 27.0001H24.7368C24.7368 20.8328 19.0697 16.0527 12.3684 16.0527C5.66714 16.0527 0 20.8328 0 27.0001H2Z' fill='white'/%3E%3C/svg%3E%0A");
}

.modul-card__link {
    display: inline-block;
    min-width: 12.28vw;
    height: 2.65vw;
    padding: 0.55vw 1.75vw;
    margin-bottom: 1.76vw;
    font-size: 0.96vw;
    line-height: 1.18vw;
    color: #FFFFFF;
    background-color: #00B8D4;
    border-radius: 3.68vw;
    border: 0.22vw solid #00B8D4;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.modul-card__link:hover {
    background-color: transparent;
    color: #000000;
    border: 0.22vw solid #00B8D4;
}

.modul-card__link:active {
    background-color: #0C9AAF;
}

.modul-card__link--exam {
    border: 0.15vw solid #FFFFFF;
}

.modul-card__link--exam:hover,
.modul-card__link--exam:active {
    border: 0.15vw solid #FFFFFF;
    background-color: #FFFFFF;
    color: #00B8D4;
}

.modul-card__bar {
    position: relative;
    height: 0.74vw;
    width: 100%;
    margin-bottom: 1.54vw;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 1.84vw;
}

.modul-card__bar-completed {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.74vw;
    background: #FFFFFF;
    border-radius: 1.84vw;
}

.modul-card__score-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.74vw;
    line-height: 0.88vw;
}

.modul-card__required {
    display: inline-block;
}

.modul-card__score {
    display: inline-block;
    height: 1.47vw;
    padding: 0.22vw 0.37vw;
    color: #FFFFFF;
    background-color: #00B8D4;
}

.modul-card__score--exam {
    color: #4F4F4F;
    background-color: #FFFFFF;
}

/*! -----MODUL-END----- */
.modul-end {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.modul-end__title {
    width: 27.3vw;
    margin: 0;
    margin-bottom: 2.21vw;
    font-size: 2.06vw;
    line-height: 2.79vw;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.modul-end__link {
    margin-bottom: 2.21vw;
}

.modul-end__phrase {
    margin-right: 0.4vw;
}

.modul-end__img-container {
    width: 100%;
}

.modul-end__img {
    margin: 0 auto;
    display: block;
}

/*! -----VIDEO-LESSON------ */
.video-lesson {
    padding-bottom: 5.15vw;
}

.video-lesson__title {
    margin: 0;
    margin-bottom: 1.47vw;
    font-size: 1.18vw;
    line-height: 1.4vw;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: rgba(0, 184, 212, 0.8);
}

.video-lesson__video {
    width: 64.5vw;
    margin: 0 auto;
    margin-bottom: 5.15vw;
    border-radius: 3.68vw;
}

.video-lesson__text {
    margin: 0;
    padding: 0 2.57vw;
    font-size: 1.1vw;
    line-height: 1.91vw;
    font-weight: 400;
    color: #4F4F4F;
}

.video-lesson__text:not(:last-of-type) {
    margin-bottom: 2.94vw;
}

/*! -----VIDEO----- */
.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1.84vw;
}

.video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 5vw;
    height: 3.53vw;
    border: none;
    background-color: transparent;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.video__button-shape {
    fill: #00b8d4;
    fill-opacity: 0.9;
}

.video__button-icon {
    fill: #ffffff;
}

.video__button:focus {
    outline: none;
}

.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
    fill: #ff0000;
    fill-opacity: 1;
}

/* Enabled */
.video--enabled {
    cursor: pointer;
}

.video--enabled .video__button {
    display: block;
}

/*! -----DOWNLOAD-DOC----- */
.download-doc {
    padding-left: 0;
    font-weight: bold;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    -webkit-transition: 1s padding-left ease;
    -o-transition: 1s padding-left ease;
    transition: 1s padding-left ease;
}

.download-doc--inner-activity {
    padding-left: 4.41vw;
}

.download-doc__title {
    margin: 0;
    margin-bottom: 4.41vw;
    font-size: 1.76vw;
    line-height: 2.13vw;
    letter-spacing: 0.22vw;
    color: #000000;
}

.download-doc__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-bottom: 3.68vw;
}

.download-doc__list--material {
    padding-bottom: 0;
}

.download-doc__item {
    width: 29vw;
    margin-bottom: 4.04vw;
    list-style-type: none;
}

.download-doc__item .video__button {
    display: none;
}

.download-doc__item--material .video__button {
    display: block;
}

.download-doc__ext {
    position: relative;
    width: 5.74vw;
    height: 7.35vw;
    margin-bottom: 2.21vw;
    color: #00B8D4;
    border: 0.15vw solid #00B8D4;
    border-radius: 0.74vw;
}

.download-doc__ext img {
    display: none;
}

.download-doc__ext-text {
    position: absolute;
    left: 0.81vw;
    bottom: 0.96vw;
    font-size: 1.1vw;
    line-height: 1.32vw;
}

.download-doc__item-title {
    margin: 0;
    margin-bottom: 0.88vw;
    padding-left: 2.57vw;
    font-size: 1.18vw;
    line-height: 1.4vw;
    color: #000000;
}

.download-doc__link {
    margin-left: 2.57vw;
    font-weight: inherit;
    font-size: 0.88vw;
    line-height: 2.06vw;
    letter-spacing: inherit;
    text-transform: inherit;
    color: #000000;
    border-bottom: 0.07vw solid #00B8D4;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.download-doc__link:hover {
    color: #00B8D4;
    cursor: pointer;
}

/*! ---Классы, используемые на странице "Материалы"--- */
.download-doc__show {
    margin-bottom: 3.68vw;
}

.download-doc__show-text {
    margin-right: 2.21vw;
    font-size: 1.03vw;
    line-height: 1.25vw;
}

.download-doc__show-cards,
.download-doc__show-list {
    margin: 0;
    padding: 0;
    font-size: 1.1vw;
    line-height: 1.32vw;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0;
    cursor: pointer;
    color: #4F4F4F;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.download-doc__show-cards {
    margin-right: 2.21vw;
}

.download-doc__show-active {
    color: #00B8D4;
}

.download-doc__ext--card-high {
    width: 100%;
    height: auto;
    border: none;
    border-radius: 1.84vw;
}

.download-doc__ext--card-medium {
    width: 27.206vw;
    height: 27.206vw;
    border: none;
    border-radius: 1.84vw;
}

.download-doc__ext--card-low {
    width: 27.206vw;
    height: 19.06vw;
    border: none;
    border-radius: 1.84vw;
}

.download-doc__ext--card-high span,
.download-doc__ext--card-medium span,
.download-doc__ext--card-low span {
    width: 0.035vw;
    height: 0.035vw;
    bottom: 0;
    left: 0;
    font-size: 0;
}

.download-doc__ext--card-high img,
.download-doc__ext--card-medium img,
.download-doc__ext--card-low img {
    display: block;
    width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1.84vw;
}

.download-doc__ext--card-low .download-doc__ext-video {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px dashed #00B8D4;
    border-radius: 1.84vw;
}

.download-doc__ext--card-low .download-doc__ext-img-video + span::before {
    position: absolute;
    display: block;
    top: -9.5vw;
    right: -21vw;
    width: 7.21vw;
    height: 4.93vw;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='98' height='69' viewBox='0 0 98 69' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M94.1802 5.92046C90.6427 1.71532 84.1115 0 71.6383 0H26.3607C13.6021 0 6.96021 1.82596 3.43601 6.30298C0 10.6681 0 17.0997 0 26.0013V42.9676C0 60.2128 4.0768 68.9686 26.3607 68.9686H71.6386C82.4553 68.9686 88.4491 67.455 92.3267 63.7439C96.3033 59.9384 98 53.7249 98 42.9676V26.0013C98 16.6138 97.7341 10.1443 94.1802 5.92046Z' fill='%2300B8D4' fill-opacity='0.9'/%3E%3Cpath d='M61.2322 36.7928L39.8177 47.6373C39.339 47.8797 38.8155 48 38.2926 48C37.7006 48 37.1099 47.8456 36.5867 47.5387C35.6016 46.9602 35 45.9256 35 44.8096V23.1903C35 22.0762 35.5999 21.0425 36.5831 20.4638C37.5666 19.885 38.7898 19.8455 39.8102 20.3591L61.2246 31.1337C62.3141 31.6818 62.9984 32.7716 63 33.9607C63.0013 35.1507 62.3201 36.2421 61.2322 36.7928Z' fill='white' fill-opacity='0.9'/%3E%3C/svg%3E%0A");
    background-size: cover;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*! -----MARK-TASK----- */
.mark-task {
    padding-bottom: 5.74vw;
    font-weight: bold;
    font-size: 0.96vw;
    line-height: 1.18vw;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-align: center;
}

.mark-task__button {
    margin: 0 auto;
    margin-bottom: 4.41vw;
}

.mark-task__button-text2 {
    display: none;
}

.mark-task__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}

.mark-task__current {
    list-style-type: none;
    color: #A3A3A3;
}

.mark-task__next {
    margin-right: 0.88vw;
    list-style-type: none;
    color: #4F4F4F;
}

.mark-task__next::after {
    display: inline-block;
    width: 2.13vw;
    height: 0.66vw;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='9' viewBox='0 0 29 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.2928 3.85404L23.1464 0.707595L23.8535 0.000488281L27.8535 4.00049L28.207 4.35404L27.8535 4.70759L23.8535 8.7076L23.1464 8.00049L26.2928 4.85404H-7.62939e-05V3.85404H26.2928Z' fill='%234F4F4F'/%3E%3C/svg%3E%0A");
    background-size: cover;
}

.mark-task__nav-link {
    color: inherit;
}

/*! -----ACTIVITY----- */
.activity {
    font-weight: bold;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #000000;
}

.activity__title {
    margin: 0;
    margin-bottom: 4.41vw;
    font-size: 2.65vw;
    line-height: 3.09vw;
}

.activity__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4.41vw;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.activity__container--js {
    padding: 0;
}

.activity__card {
    display: block;
    margin-bottom: 2.94vw;
    padding-bottom: 1vw;
    border-radius: 1.84vw;
    background-color: transparent;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.activity__card:hover {
    background-color: rgba(0, 184, 212, 0.05);
}

.activity__img {
    display: block;
    width: 27.21vw;
    height: 19.12vw;
    margin-bottom: 2.21vw;
    border-radius: 1.84vw;
    -o-object-fit: cover;
    object-fit: cover;
}

.activity__card-title {
    margin: 0 0 1.1vw 2.57vw;
    font-size: 1.18vw;
    line-height: 1.4vw;
    color: #000000;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.activity__card:hover .activity__card-title {
    color: #00B8D4;
}

.activity__date {
    margin: 0 0 1vw 2.57vw;
    font-size: 1.1vw;
    line-height: 1.32vw;
    font-weight: 400;
    color: #4F4F4F;
    text-transform: none;
}

.activity__location {
    margin-left: 2.57vw;
    font-size: 0.74vw;
    line-height: 0.88vw;
    color: #4F4F4F;
}

/*! ------INNER-ACTIVITY----- */
.inner-activity {
    padding-bottom: 5.15vw;
    font-weight: bold;
    letter-spacing: 0.15vw;
    text-transform: uppercase;
    color: #000000;
}

.inner-activity__title {
    margin: 0;
    margin-bottom: 4.41vw;
    font-size: 2.65vw;
    line-height: 3.09vw;
    font-weight: 900;
}

.inner-activity__img {
    display: block;
    width: 56.47vw;
    height: 39.53vw;
    margin: 0 auto 5.15vw;
    border-radius: 3.68vw;
    -o-object-fit: cover;
    object-fit: cover;
}

.inner-activity__title-2 {
    margin: 0 0 3.68vw 7.35vw;
    font-size: 2.35vw;
    line-height: 3.09vw;
}

.inner-activity__text {
    margin: 0 0 2.57vw 7.35vw;
    font-size: 1.1vw;
    line-height: 1.91vw;
    font-weight: 400;
    color: #4F4F4F;
    text-transform: none;
    letter-spacing: 0;
}

.inner-activity__title-3 {
    margin: 3.68vw 0 2.57vw 7.35vw;
    font-size: 1.76vw;
    line-height: 2.13vw;
}

.inner-activity__text-different {
    margin: 0 0 2.57vw 12.5vw;
    font-size: 1.76vw;
    line-height: 2.79vw;
    color: #4F4F4F;
    text-transform: none;
    letter-spacing: 0;
}

.inner-activity__date {
    margin: 5.15vw 0 0 7.35vw;
    font-size: 1.1vw;
    line-height: 1.32vw;
    color: #4F4F4F;
    text-transform: none;
}

/*! -----ACCOUNT----- */
.account {
    padding: 0 4.41vw;
    padding-bottom: 6.62vw;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
}

.account--js {
    padding-bottom: 2vw;
}

.account__title {
    margin: 0 0 4.41vw -4.41vw;
    font-size: 2.65vw;
    line-height: 3.09vw;
}

.account__title2 {
    display: inline-block;
    margin: 0 0.74vw 4.41vw 0;
    font-size: 1.47vw;
    line-height: 1.76vw;
    letter-spacing: 0.12em;
}

.account__title2--wide {
    display: block;
    width: 100%;
    margin: 4.41vw 0;
}

.account__shevron {
    position: relative;
    top: -0.35vw;
    display: inline-block;
    width: 1.18vw;
    height: 0.685vw;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.23554 9.07188C0.550694 9.40573 1.06221 9.40573 1.37736 9.07188L7.9996 2.06102L14.6218 9.07053C14.9357 9.40572 15.4485 9.40572 15.7637 9.07053C16.0775 8.73668 16.0775 8.1945 15.7637 7.86065L8.56982 0.247542C8.25867 -0.0823028 7.73923 -0.0823028 7.42808 0.247542L0.234236 7.86199C-0.079584 8.19451 -0.0796146 8.73669 0.23554 9.07188Z' fill='black'/%3E%3C/svg%3E%0A");
    background-size: cover;
    border: none;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.account__shevron--js {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.account__form-container {
    height: auto;
    opacity: 1;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.account__form-container--js {
    height: 0;
    opacity: 0;
}

.account__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2.79vw;
}

.account__form input,
.account__form select {
    width: 27.206vw;
    height: 3.75vw;
    margin-bottom: 1.62vw;
    padding: 1.32vw 0;
    color: #4F4F4F;
    font-size: 1.1vw;
    line-height: 1.1vw;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 0.15vw solid #DADADA;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.account__ava-container {
    position: relative;
    width: 27.205vw;
    height: 29.78vw;
    margin-bottom: 5.22vw;
    text-align: center;
    border: 0.15vw dashed #DADADA;
}

.account__ava-container--js {
    border: 0.15vw dashed #4F4F4F;
}

.account__ava-container::before {
    z-index: 0;
    position: absolute;
    top: 7.87vw;
    left: 9.93vw;
    display: block;
    width: 7.35vw;
    height: 7.35vw;
    content: "";
    border: 0.15vw dashed #DADADA;
    border-radius: 50%;
}

.account__ava-form {
    text-align: center;
    height: 100%;
}

#fileElem {
    display: none;
}

.account__ava-form::before,
.account__ava-form::after {
    z-index: 0;
    position: absolute;
    width: 3.09vw;
    height: 0.15vw;
    content: "";
    background-color: #DADADA;
}

.account__ava-form::before {
    top: 11.54vw;
    left: 12.06vw;
}

.account__ava-form::after {
    top: 11.5vw;
    left: 12.1vw;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.account__ava-text {
    z-index: 0;
    position: relative;
    display: block;
    margin: 0;
    padding-top: 18.16vw;
    height: 100%;
    font-size: 1.18vw;
    line-height: 1.99vw;
    letter-spacing: 0.12em;
    cursor: pointer;
}

.account__ava-label {
    z-index: 2;
    position: absolute;
    top: 0;

    display: block;
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.account__ava-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.account__ava-preview img {
    object-fit: cover;
    min-height: 100%;
}

#progress-bar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*! -----SELLERS----- */
.sellers {
    padding-left: 4.41vw;
    font-weight: bold;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #000000;
}

.sellers__title {
    margin: 0;
    margin-bottom: 3.68vw;
    font-size: 1.91vw;
    line-height: 2.65vw;
}

.sellers__sort {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 4.1vw;
    text-transform: none;
    letter-spacing: 0;
}

.sellers__sort-text {
    margin-right: 2.21vw;
    font-size: 1.03vw;
    line-height: 1.25vw;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.sellers__sort-alph,
.sellers__sort-date,
.sellers__sort-default {
    margin-right: 2.21vw;
    font-size: 1.1vw;
    line-height: 1.32vw;
    padding: 0;
    border: none;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.sellers__sort-default {
    margin-right: 0;
}

.sellers__search {
    display: inline-block;
    position: relative;
    margin-left: auto;
}

.sellers__search-button {
    position: absolute;
    top: 0.555vw;
    right: 0;
    width: 0.836vw;
    height: 0.871vw;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 5C9 2.79086 7.20914 1 5 1C2.79086 1 1 2.79086 1 5C1 7.20914 2.79086 9 5 9C7.20914 9 9 7.20914 9 5ZM10 5C10 2.23858 7.76142 0 5 0C2.23858 0 0 2.23858 0 5C0 7.76142 2.23858 10 5 10C6.0725 10 7.06613 9.66232 7.88038 9.08749L10.6464 11.8536L11.3536 11.1464L8.63758 8.43047C9.48225 7.53514 10 6.32803 10 5Z' fill='%23A3A3A3'/%3E%3C/svg%3E%0A");
    background-size: cover;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.sellers__sort-active {
    color: #00B8D4;
}

.sellers__sort input {
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    align-self: start;
    width: 19.85vw;
    height: 1.91vw;
    padding: 0.37vw 0;
    color: #A3A3A3;
    font-size: 1.1vw;
    line-height: inherit;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-bottom: 0.07vw solid #DADADA;
}

.sellers__card {
    margin-bottom: 4.41vw;
}

.sellers__card-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.69vw;
}

.sellers__card-header img {
    width: 4.04vw;
    height: 4.41vw;
    margin-right: 1.4vw;
    background-color: #C4C4C4;
    object-fit: cover;
}

.sellers__card-name {
    width: 17.4vw;
    margin-right: 2.21vw;
    font-size: 1.18vw;
    line-height: 1.47vw;
}

.sellers__card-email {
    font-size: 1.1vw;
    line-height: 100%;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #00B8D4;
    text-transform: none;
}

.sellers__card-email-icon {
    display: none;
}

.sellers__card-edit,
.sellers__card-del {
    font-size: 1.03vw;
    line-height: 100%;
    color: #00B8D4;
    padding: 0;
    border: none;
    font-family: inherit;
    background-color: transparent;
}

.sellers__card-edit {
    margin-left: auto;
    margin-right: 1.76vw;
}

.sellers__card-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.1vw;
    color: #4F4F4F;
    text-transform: none;
}

.sellers__card-table tr {
    height: 4.04vw;
    padding: 1.4vw 0;
}

.sellers__card-table th {
    border-bottom: 0.07vw solid #DADADA;
    color: #000000;
    font-weight: 600;
    text-align: left;
}

.sellers__card-table th:first-of-type {
    width: 24.9vw;
}

.sellers__card-table td {
    font-weight: 400;
}

/*! -----NEWS----- */
.news__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 56.618vw;
    margin: 0 auto;
    transition: all 1s ease;
}

.news__container--js {
    width: 86.618vw;
}

.news__item {
    margin-bottom: 2.21vw;
    position: relative;
    width: 27.206vw;
    height: 33.953vw;
    font-weight: 700;
    font-size: 1.91vw;
    line-height: 2.57vw;
}

.news__item--wide {
    width: 56.618vw;
    height: 34.412vw;
    font-weight: 900;
    font-size: 2.35vw;
    line-height: 3.09vw;
}

.news__item-img {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1.84vw;
    -o-object-fit: cover;
    object-fit: cover;
}

.news__item-shadow {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(-7.59%, #4F4F4F), to(rgba(79, 79, 79, 0)));
    background: -o-linear-gradient(bottom, #4F4F4F -7.59%, rgba(79, 79, 79, 0) 100%);
    background: linear-gradient(0deg, #4F4F4F -7.59%, rgba(79, 79, 79, 0) 100%);
    border-radius: 1.84vw;
}

.news__item-info {
    z-index: 3;
    position: absolute;
    left: 2.65vw;
    bottom: 4.82vw;
    color: #FFFFFF;
}

.news__item-time {
    display: inline-block;
    margin-bottom: 2.21vw;
    font-weight: 600;
    font-size: 1.1vw;
    line-height: 1.32vw;
    color: #FFFFFF;
}

.news__item-title {
    margin: 0 0 4.148vw 0;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-weight: inherit;
    color: #FFFFFF;
}

.news__item-link {
    padding: 0.66vw 1.1vw;
    font-weight: bold;
    font-size: 0.74vw;
    line-height: 0.88vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0.07vw solid #FFFFFF;
    border-radius: 1.84vw;
}

.news__video {
    margin-bottom: 2.21vw;
    min-height: 21vw;
    width: 27.206vw;
}

.news__video-title {
    margin: 2.21vw 0 1.1vw 2.65vw;
    font-weight: 700;
    font-size: 1.18vw;
    line-height: 1.4vw;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #000000;
}

.news__video-time {
    margin-left: 2.65vw;
    font-weight: normal;
    font-size: 1.1vw;
    line-height: 1.32vw;
    color: #4F4F4F;
}

/*! -----LOGIN----- */
.login {
    padding: 5.88vw 4.41vw 0 4.41vw;
}

.login__title {
    margin: 0 0 5.74vw -4.41vw;

    font-weight: bold;
    font-size: 2.65vw;
    line-height: 3.09vw;
    letter-spacing: 0.15vw;
    text-transform: uppercase;
    color: #000000;
}

.login__text {
    margin: 0;
    font-weight: bold;
    font-size: 1.53vw;
    line-height: 1.82vw;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.login__form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 3.9vw;
}

.login__form--left {
    justify-content: flex-start;
}

.field-loginform-email {
    margin-right: 2.87vw;
}

.login__form input[name="login"],
.login__form input[name="password"] {
    width: 32.206vw;
}

.login__form input[name="password"] {
    margin-bottom: 4.412vw;
}

.login__form-forgot-link {
    position: absolute;
    top: 1.15vw;
    right: 11.9vw;

    font-size: 0.88vw;
    line-height: 1.91vw;
    font-weight: 400;
    color: #00B8D4;
    transition: all 0.5s ease;
}

.login__form-forgot-link--password {
    position: static;
    margin-left: 1.34vw;
    margin-top: 1vw;
}

.login__form-forgot-link:hover {
    color: #008da3;
}

.login__form-btn-container {
    width: 100%;
    text-align: center;
}

.login__form-btn-container--left {
    text-align: left;
    margin-top: 5.74vw;
}

.login__form-btn-container--mb {
    margin-bottom: 5.74vw;
}

.login__img {
    display: block;
    margin: 0 auto;
    transform: translateX(11%);
}

/* ----- test ----- */
.main--test {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 59.41vw;
}

.test__img {
    z-index: 1;
    display: block;
    position: absolute;
    bottom: -3.17vw;
    right: -3.17vw;
    width: 31.84vw;
    height: 57.87vw;
}

.test {
    display: flex;
    flex-direction: column;
}

.test__title {
    width: 41.18vw;
    margin: 0;
    margin-bottom: 4.41vw;
    font-weight: bold;
    font-size: 2.65vw;
    line-height: 117%;
    letter-spacing: 0.15vw;
    text-transform: uppercase;
}

.test__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4.41vw;
}

.test__question,
.test__congrat {
    margin: 0;
    margin-bottom: 4.41vw;
    font-weight: bold;
    font-size: 1.76vw;
    line-height: 2.13vw;
}

.test__congrat {
    margin-bottom: 3.31vw;
    margin-left: 4.41vw;
}

.test__variants {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.41vw;
}

.test__variant {
    display: flex;
    font-size: 0.96vw;
    line-height: 1.18vw;
}

.test__variant:not(:last-of-type) {
    margin-bottom: 1.4vw;
}

.test__custom-radio {
    display: inline-block;
    width: 1.32vw;
    height: 1.32vw;
    margin-right: 0.96vw;
    border-radius: 50%;
    border: 1.5px solid #DADADA;
    cursor: pointer;
}

.test input[type="radio"]:checked + span {
    background-color: #00B8D4;
    background-image: url('../images/Vector9.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.test textarea {
    z-index: 2;
    display: block;
    margin-bottom: 4.41vw;
    padding: 1.32vw;
    font-size: 0.96vw;
    line-height: 1.18vw;
    resize: none;
    border: 1px solid #DADADA;
    color: #4F4F4F;
}

.test__of {
    margin: 0;
    margin-bottom: 2.06vw;
    margin-left: 4.41vw;
    font-weight: 900;
    font-size: 3.38vw;
    line-height: 109%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #00B8D4;
}

.test__you-are-ready {
    margin: 0;
    margin-bottom: 5.29vw;
    margin-left: 4.41vw;
    font-weight: bold;
    font-size: 1.18vw;
    line-height: 2.13vw;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #000000;
}

.test__another {
    align-self: flex-start;
    margin-left: 4.41vw;
}

/* ----- t-footer ----- */
.t-footer {
    z-index: 2;
    width: 52.03vw;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.t-footer__progress-container {
    width: 100%;
    height: 1.32vw;
    margin-bottom: 2.79vw;
    display: flex;
    align-items: center;
}

.t-footer__progress-under-bar {
    position: relative;
    width: 50.71vw;
    height: 5px;
    background-color: #DADADA;
}

.t-footer__progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background-color: #00B8D4;
}

.t-footer__progress__circle {
    position: relative;
    list-style-type: none;
    width: 1.32vw;
    height: 1.32vw;
}

.t-footer__progress__circle::before {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.32vw;
    height: 1.32vw;
    content: '';
    border-radius: 50%;
    background-color: #DADADA;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='8' viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4L4 6.5L8.5 1' stroke='white' stroke-width='1.2'/%3E%3C/svg%3E%0A");
    background-size: 0.66vw 0.59vw;
    background-repeat: no-repeat;
    background-position: center center;
}

.t-footer__progress__circle.active::before {
    background-color: #00B8D4;
}

.t-footer__of {
    font-size: 1.1vw;
    line-height: 100%;
}

.t-footer__link {
    font-size: 0.88vw;
    line-height: 217%;
    color: #00B8D4;
}

.t-footer__progress-list-mobile {
    display: none;
}

/*! ----- mob-modal ----- */
.mob-modal {
    display: none;
}

/* ----- служебные классы ----- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.display-none {
    display: none;
}

.quest_tab {
    display: none;
}

.quest_tab.active {
    display: block;
}